section>div>h2 {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    height: 48px;
    width: 1280px;
    font-size: 40px;
    font-weight: 800;
    text-align: left;

}

.pillar-container {
    display: flex;
    flex-direction: row;
    height: 324px;
    width: 1280px;
    margin-left: 160px;
    margin-right: 160px;
}

.pillar {

    height: 254px;
    width: 354px;

}

 .pillar img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.pillar-tittle {
    margin-left: 10px;
    margin-right: 10px;
    
   
}

.pillar-text{
    margin-left: -50px;
    margin-right: -50px;
    min-height: 324px;
    
} 