 .vision section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.vision div>h2 {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 5px;
    height: 48px;
    width: 1280px;
    font-size: 48px;
    font-weight: 800;
    text-align: left;
}
.vision div  p {
    height: 48px;
    width: 1280px;
    margin-top: -70px;
    margin-left: 105px; 
    margin-right: 160px; 
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 400;
    text-align: left; 
}